@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aqui você AUMENTA sua produtividade em 300%</h1>
    <p class="lead">Conosco você organiza seus documentos da melhor forma possível:</p>

    <ul class="list-unstyled">
        <li>- Fichas médicas</li>
        <li>- Fichas de treino</li>
        <li>- Faturas</li>
    </ul>

    <p class="mt-4 fs-4 fw-bold">Com UM CLICK tudo vai se organizar!</p>
</div>
